{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup"],
      "plugins": ["copy-to-clipboard", "line-numbers", "line-highlight", "normalize-whitespace"],
      "theme": "okaidia",
      "css": true
    }]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
